:root{
    --white: #ffffff;
    --black: #000000;
    --grey: #888692;
}

body{
    margin: 0;
}

.navigation-menu{
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.left-menu{
    width: 20%;
}

.right-menu{
    width: 80%;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    color: var(--white);
}

.nav-link{
    padding: 18px;
    font-size: 20px;
}

.nav-link.contact{
    color: var(--black);
    background: var(--white);
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

#image-header{
    z-index: -1;
    position: absolute;
    width: 100%;
}

.main-heading{
    text-align: center;
    font-size: 48px;
    color: var(--white)
}

.middle-arrow{
    display: block;
    margin: auto;
}

.creatives-container{
    height: 934px;
    padding: 0;
}

.band-container{
    display: flex;
    height: 793px;
}

.band-left{
    width: 50%;
    text-align: left;
    padding-bottom: 150px;
    padding-left: 0px;
    padding-top: 150px;
    padding-right: 0;
}

.egg-right{
    width: 50%;
}

.egg-right img{
    width: 100%;
    height: auto;
    padding: 0;
}

.second-heading{
    font-weight: bold;
    font-size: 48px;
}

.desc{
    font-size: 22px;
    color: rgb(128, 128, 128);
}

.goblet-left{
    width: 50%;
}

.goblet-left img{
    width: 100%;
    height: auto;
}

.stand-container{
    display: flex;
    height: 793px;
}

.audience-right{
    width: 50%;
    text-align: left;
    padding-bottom: 150px;
    padding-left: 0px;
    padding-top: 150px;
    padding-right: 0px;
}

.design-photo-container{
    display: flex;
}

.graphic-design{
    width: 50%;
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-size: 100%;
    height: auto;
    padding: 500px 200px 200px;
    background-repeat: no-repeat;
}

.photography{
    width: 50%;
    background-image: url("images/desktop/image-photography.jpg");
    background-size: 100%;
    height: auto;
    padding: 500px 200px 200px;
    background-repeat: no-repeat;
}

.client-testamonial-heading{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 34px;
    color: #acadaf;
}

.client-container{
    display: flex;
}

.client-card-t h3, h4, p{
    text-align: center;
}

.client-card-j h3, h4, p{
    text-align: center;
}

.client-card-e h3, h4, p{
    text-align: center;
}

.client-card-t img{
    border-radius: 100px;
    width: 100px;
}

.client-card-j img{
    border-radius: 100px;
    width: 100px;
}

.client-card-e img{
    border-radius: 100px;
    width: 100px;
}

.client-card-e{
    margin-left: 100px;
}

.client-card-j{
    margin-right: 100px;
}

.image-container{
    display: flex;
    justify-content: center;
}

.gallery{
    display: flex;
    width: 100%;
    margin-top: 150px;
}

.gallery-item img{
    width: 100%;
}